body{
    background-image: url(Fotos/filme2.jpeg);
    background-size: 100% 8%;
    background-repeat: no-repeat;
    background-position: top;
}

.orientation{
    width: 4%;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
}

.fotoStyle{
    width: 35px;
    margin: 0;
}

.displayLista{
    display: none;
}

.fotoStyle:hover + .displayLista{
    display: block;
    background-color: rgba(0,0,0,0.6);
}

.fotoStyleLista{
    max-width:100vh;
    max-height:100vh;
    width: auto;
    height: auto;
}

.section{
    box-sizing: border-box;
    height: 100%;
    position: relative;
    float: left;
    text-align: center;}

    .descricao{
        max-width: 10000px;
    }   /* classe nos resumos dos livros, terminar de editar */

#content{
    padding-top: 50%;
    padding-bottom: 15%;
    color: white;
}