html,body {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    max-height: 100vh;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

li{
    flex-grow: 1;
}

button{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
}

.imagemFundo {
    background-image: url(Fotos/filme2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    width: 100%;
}

.fotoStyle {
    width: 40px;
}

.displayLista {
    display: none;
    padding: 0 10px;
    color: white;
    align-self: center;
}

.fotoStyleLista {
    max-width: 100vh;
    max-height: 100vh;
    width: auto;
    height: auto;
}

.section {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    float: left;
    text-align: center;
}

.descricao {
    max-width: 10000px;
}

/* classe nos resumos dos livros, terminar de editar */

#content {
    padding-top: 50%;
    padding-bottom: 15%;
    color: white;
}

button:hover{
    background-color:  rgba(255, 0, 0, 0.6);
}

ul:hover .displayLista {
    display: initial;
    /* teste */
}

/* position: relative;
top: 1px; criar uma classe e colocar essas informacoes no html*/