.orientation{
    width: 4%;
    position: fixed;
}

.textStyle {
    color: white !important;
}

.fotoStyle{
    width: 35px;
    object-fit: scale-down;
    padding: 0;
}

.displayLista{
    display: none;
}

.fotoStyle:hover + .displayLista{
    display: block;
    width: 25%;
}

img{
    width: 96%;
    margin-left: 4%
}